* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 217, 182);
  width: 100vw;
  height: 100vh;
}


.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 70vw;
  height: 80vh;
  background-color: #fff;
  border: 2px solid brown;
  box-shadow: 2px 1px 4px lightblue;
  background-image: url('./images/clouds.jpg');
  background-size: cover;
  background-position: center;
}


